/* src/pages/DemandeEmploye.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f1f1; /* Fond gris clair */
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: black;
  margin-top: 30px;
  margin: 80px;
}

p {
  color: black;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  margin: 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 20px auto;
  background-color: #0066cc; /* Cadre du formulaire en bleu */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form select {
  width: 100%; /* Même largeur */
  height: 50px; /* Même hauteur */
  padding: 10px;
  margin: 10px 9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Évite les débordements */
  font-size: 16px;
  background-color: white; /* Fond blanc des champs */
}

form button {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

form button:hover {
  background-color: #27ae60;
}

label {
  font-size: 16px;
  color: #ffffff; /* Texte en blanc pour contraste */
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 800px;
}
