.general-info-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Fond léger */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    color: Black; /* Couleur du texte des titres */
}

ul {
    list-style-type: none; /* Retire les puces */
    padding: 0; /* Retire le remplissage */
}

li {
    margin: 5px 0; /* Espacement entre les éléments */
    font-size: 16px; /* Taille de police pour les éléments */
}
