/* src/pages/PersonnelQualifie.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Titre principal */
h1 {
  text-align: center;
  color: black;
  font-size: 36px;
  margin-top: 40px;
  animation: fadeIn 2s ease-in-out;
  margin: 80px;
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Contenu principal */
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

/* Texte des paragraphes */
p {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 0.5s;
}

/* Liste d'éléments */
ul {
  list-style-type: none;
  padding: 0;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s;
}

/* Éléments de la liste */
ul li {
  font-size: 18px;
  color: #333;
  background-color: #fff;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Survol d'un élément de liste */
ul li:hover {
  background-color: #f1c40f;
  color: white;
  transform: translateY(-5px);
}

/* Réponses et informations supplémentaires */
ul li p {
  font-size: 16px;
  margin-top: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  ul li {
    font-size: 16px;
  }
}
